@charset "UTF-8";
/* 영문용폰트 font-family: 'Oxygen', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

/* 한글용 폰트 font-family: 'Noto Serif KR', serif;*/
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap');

#users {
	text-align: right;
	padding: 10px;
	margin: 0;
}

#users span {
	padding: 0 5px;
}

.reg {
	letter-spacing: 1px;
	text-decoration: none;
	color: #000;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Oxygen', sans-serif;
}

#logo {
	margin: 0;
	padding: 0;
	align-content: center;
	text-align: center;
}

body {
	margin: 0 auto;
	font-family: 'Oxygen', sans-serif;
}

#dropdown ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	float: right;
	position: relative;
	left: -50%;
	z-index: 200;
}

#dropdown ul li{
	color: rgb(035, 058, 79);
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	margin: 0px;
	padding: 0px 20px;
	position: relative;
	left: 50%;
}

#dropdown > ul > li > a {
	font-size: 1.3em;
	font-weight: bold;
	
}

#dropdown ul li a {
	color: rgb(055, 078, 99);
	text-decoration: none;
	display: block;
}

#dropdown ul li a:hover {
	color: #000;
}

#dropdown ul ul {
	display: none;
}

#dropdown ul li:hover > ul {
	display: block;
}

#dropdown ul li:hover > ul li {
	background-color: rgb(252, 252, 252);
	font-weight: bold;
}

.newul li {
	padding: 20px;
	display: block;
}

.menu{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
}

#title {
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: xx-large;
	color: rgb(035, 058, 79);
	letter-spacing: 1px;
	margin: 10px 10px 0 10px;
}

hr {
	size: 1px;
	color: black;
}


.row{
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	margin: 30px auto;
}



/* Create four equal columns that sits next to each other */
.column {
	box-sizing: border-box;
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
	flex: 50%;
	max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
	flex: 100%;
	max-width: 100%;
  }
}

.logobox {
	border: 1px solid #000;
	display: inline-block;
	padding: 10px 20px;
	font-size: 15px;
	margin: 40;
}

.info {
	text-align: center;
}

.footer{
	text-align: center;
	background: rgb(035, 058, 79);
	color: #fff;
	font-size: 11px;
	width: 100%;
	padding: 13px;
	margin: 0 0 0 0;
	display: block;
}

.background {
	width: 80%;
	height: 350px;
}